/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  height: 100%;
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
* {
  box-sizing: border-box;
}
textarea {
  resize: none;
  appearance: none;
}
input {
  appearance: none;
}
select {
  appearance: none;
  background-color: #fff;
}
html,
body {
  height: 100%;
}
body {
  background-color: #333333;
  overflow: hidden;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  color: #fff;
  position: fixed;
  text-align: center;
}
.msg-box {
  bottom: 0;
  overflow: hidden;
  position: fixed;
}
.msg-box .msg-panel {
  display: none;
  position: relative;
  overflow: hidden;
}
.msg-box .msg-panel .msg-text {
  user-select: none;
}
.msg-box .msg-panel:hover .btn-close {
  transform: translateX(0);
}
.msg-box .msg-panel .btn-close {
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: absolute;
  cursor: pointer;
  transform: translateX(-100%);
  transition: 300ms;
}
.msg-box .msg-panel .btn-close:before {
  content: "";
  top: 50%;
  left: 50%;
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  transform: translate(-50%, -50%) rotate(45deg);
}
.msg-box .msg-panel .btn-close:after {
  content: "";
  top: 50%;
  left: 50%;
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.msg-box .msg-panel .msg-icon {
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
}
.msg-box .msg-panel .msg-icon.info > div:first-child {
  top: 20%;
  left: 50%;
  width: 14%;
  height: 14%;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  transform: translateX(-50%);
}
.msg-box .msg-panel .msg-icon.info > div:last-child {
  top: 42%;
  left: 50%;
  width: 10%;
  height: 40%;
  background-color: #fff;
  position: absolute;
  transform: translateX(-50%);
}
.msg-box .msg-panel .msg-icon.success > div:first-child {
  top: 60%;
  left: 17%;
  width: 30%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  transform: rotate(45deg);
}
.msg-box .msg-panel .msg-icon.success > div:last-child {
  top: 48%;
  left: 30%;
  width: 60%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  transform: rotate(-45deg);
}
.msg-box .msg-panel .msg-icon.trophy > div:first-child {
  top: 25%;
  left: 20%;
  width: 60%;
  height: 40%;
  border: 2px solid #333;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: #fff;
  z-index: 1;
  position: absolute;
}
.msg-box .msg-panel .msg-icon.trophy > div:first-child:before {
  content: "";
  top: -60%;
  left: 50%;
  width: 40%;
  height: 150%;
  border: 2px solid;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: inherit;
  position: absolute;
  transform: translateX(-50%);
}
.msg-box .msg-panel .msg-icon.trophy > div:last-child {
  top: 80%;
  left: 30%;
  width: 40%;
  height: 2px;
  background-color: #fff;
  position: absolute;
}
.msg-box .msg-panel .msg-icon.trophy > div:last-child:before {
  content: "";
  top: -5px;
  left: 50%;
  width: 2px;
  height: 5px;
  background-color: inherit;
  position: absolute;
  transform: translateX(-50%);
}
