.container.purse {
    .card {
        margin: @space;
        border: 1px solid @border-gray;
        border-radius: @space / 2;
        padding: @size;
        background-color: #fff;
        box-shadow: @space / 3 @space / 3 @space / 2 @border-gray;
        overflow: hidden;
        text-align: center;
        &.card1 {
            background-color: #fefff0;
        }
        &.card2 {
            background-color: #f5fcff;
        }
        .count {
            font-size: @xx-big * 2;
        }
        .type {
            font-size: @big;
            i {
                margin-right: @space / 2;
                vertical-align: middle;
            }
        }
    }
}